.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.navIcons>i{
    font-size: 1.2rem;
}

.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}